_config.yml
# Algolia Keys
# git update-index --skip-worktree <path-name>
################

bmitchinson_tranquilpeak/
# Makeshift sub module
################

public/
node_modules/
.deploy*/
################

Thumbs.db
*.log
*.DS_Store
db.json
################
